Repository SanctumLabs/space-xplorer-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint 'src/**/*.{scss}' --fix, imagemin-lint-staged

Add Codacy badge
  README.md
Due: none

Update README.md
  README.md
Due: none

chore(project): initial setup
  .dockerignore
  .github/workflows/dockerimage-ci.yml
  .gitignore
  .releaserc.json
  apollo.config.js
  docker-compose.yml
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/react-app-env.d.ts
  src/serviceWorker.ts
  src/setupTests.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, imagemin-lint-staged

chore(eject): ejected application
  config/env.js
  config/getHttpsConfig.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/modules.js
  config/paths.js
  config/pnpTs.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  jest.config.js
  package.json
  scripts/build.js
  scripts/start.js
  scripts/test.js
  src/react-app-env.d.ts
  yarn.lock
Due: eslint --fix

chore(project): bootstrap
  .env.example
  .eslintrc.js
  commitlint.config.js
  config/webpack.config.js
  jest.config.js
  package.json
  scripts/setupTests.ts
  src/App.css
  src/App.tsx
  src/api/gql/GqlClient.ts
  src/api/gql/schemas.ts
  src/components/loading/index.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/pages/index.tsx
  src/pages/login/LoginForm.tsx
  src/pages/login/index.tsx
  src/storage/cache/cache.ts
  src/storage/local/local.test.ts
  src/storage/local/local.ts
  src/styles.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, imagemin-lint-staged

chore(jest): config update
  jest.config.js
Due: eslint --fix

chore(tests): fix test config
  jest.config.js
  package.json
  scripts/setupTests.ts
  src/pages/login/LoginForm.tsx
  src/storage/local/local.test.ts
  yarn.lock
Due: eslint --fix

chore(git): fix hooks
  .lintstagedrc
  package.json
  yarn.lock
Due: none

chore(npm): fix npm command
  package.json
Due: none

feat(launch): launch list & details
  package.json
  src/api/gql/__generated__/GetLaunchList.ts
  src/api/gql/__generated__/LaunchDetails.ts
  src/api/gql/__generated__/LaunchTile.ts
  src/api/gql/__generated__/cancel.ts
  src/api/gql/schemas.ts
  src/components/PrivateRoute/index.tsx
  src/components/button/index.tsx
  src/components/header/Header.test.tsx
  src/components/header/headerStyles.ts
  src/components/header/index.tsx
  src/components/launch/Launch.styles.ts
  src/components/launch/detail/LaunchDetail.styles.ts
  src/components/launch/detail/LaunchDetail.test.tsx
  src/components/launch/detail/LaunchDetail.tsx
  src/components/launch/tile/LaunchTile.styles.ts
  src/components/launch/tile/LaunchTile.tsx
  src/components/launch/tile/LaunchTyle.test.tsx
  src/components/launch/utils.ts
  src/components/loading/index.tsx
  src/components/loading/loading.test.tsx
  src/containers/ActionButton/index.tsx
  src/containers/PageContainer/PageContainer.test.tsx
  src/containers/PageContainer/index.tsx
  src/containers/PageContainer/styles.ts
  src/pages/index.tsx
  src/pages/launches/LaunchItem.tsx
  src/pages/launches/index.tsx
  src/pages/login/LoginForm.test.tsx
  src/pages/login/loginstyles.ts
Due: eslint --fix

feat(component): additional pages & componets
  package.json
  src/api/gql/__generated__/BookTrips.ts
  src/api/gql/__generated__/GetCartItems.ts
  src/api/gql/__generated__/GetLaunch.ts
  src/api/gql/__generated__/GetMyTrips.ts
  src/api/gql/__generated__/Login.ts
  src/api/gql/__generated__/RemoveLaunch.ts
  src/api/gql/__generated__/cancel.ts
  src/api/gql/schemas.ts
  src/components/footer/footerStyles.ts
  src/components/footer/index.tsx
  src/components/menu/MenuItem.test.tsx
  src/components/menu/MenuItem.tsx
  src/containers/ActionButton/index.tsx
  src/containers/BookTrips/index.tsx
  src/containers/CartItem/index.tsx
  src/containers/LogoutButton/index.tsx
  src/containers/LogoutButton/logoutButton.styles.ts
  src/pages/cart/index.tsx
  src/pages/index.tsx
  src/pages/profile/index.tsx
Due: eslint --fix

Notes added by 'git notes add'
  f321a039687efd5669bf33639e8c81e527e68741
Due: none

ci(github-actions): github actions
  .github/workflows/sentry.yml
  config/env.js
  config/webpack.config.js
  jest.config.js
  package.json
  src/index.tsx
  src/logger/index.ts
  src/pages/profile/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix

build(docker): docker builds
  .dockerignore
  .env.example
  .eslintignore
  .github/workflows/dockerimage-ci.yml
  .gitignore
  Dockerfile
  Dockerfile.static
  README.md
  conf/conf.d/default.conf
  conf/conf.d/gzip.conf
  env.sh
  package.json
  public/index.html
  server/app.js
  server/ecosystem.config.js
  server/package.json
  server/yarn.lock
  src/api/gql/GqlClient.ts
  src/logger/index.ts
  src/serviceWorker.ts
  src/window.d.ts
Due: eslint --fix

fix(redirects): fix redirects
  docker-compose.yml
  public/index.html
  src/components/PrivateRoute/index.tsx
  src/logger/index.ts
  src/pages/login/LoginForm.tsx
  src/pages/login/index.tsx
Due: eslint --fix

ci(github-actions): include tests workflow
  .github/workflows/tests.yml
  README.md
Due: none

docs(readme): badges
  README.md
Due: none

build(npm): server dependencies
  server/package.json
  server/yarn.lock
Due: none

feat(server): dynamic env
  server/app.js
Due: eslint --fix

Notes added by 'git notes add'
  225adc01e8f4f4ede83e2f9632bc71cec29dec25
Due: none

Notes added by 'git notes add'
  6db6fbb7f13d1227cf243e3a076949c0a88cf6fd
Due: none

docs(readme): deployment notes
  .nvmrc
  README.md
Due: none

chore(git): ignore .envrc
  .gitignore
Due: none

ci(netlify): toml config
  netlify.toml
Due: none

build(env): dynamic envs
  env.sh
Due: none

refactor(shell): fix shell scripts
  env.sh
Due: none

ci(github): remove npm package
  .github/workflows/npmpublish.yml
  README.md
Due: none

refactor(linting): fix linting issues
  src/components/header/index.tsx
  src/containers/LogoutButton/index.tsx
  src/containers/PageContainer/index.tsx
  src/pages/profile/index.tsx
  src/storage/cache/cache.ts
Due: eslint --fix

refactor(lint): fix failing lint issues
  jest.config.js
  src/components/footer/Footer.test.tsx
  src/styles.ts
  src/test-utils.tsx
Due: eslint --fix

Update dockerimage-ci.yml
  .github/workflows/dockerimage-ci.yml
Due: none

Update package.json
  package.json
Due: none

Update .releaserc.json
  .releaserc.json
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint 'src/**/*.{scss}' --fix: any of: *.{scss}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
